* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  
  color: inherit;
}

p, nav, h2, h3 {
  font-family: "Roboto", sans-serif;
}

a:visited {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

header {
  color: white;
  z-index: 12;
  position: fixed;
  width: 100%;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s ease-in-out;
}

.header-scroll {
  background-color: gray;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

nav {
  display: flex;
  font-size: 22px;
  gap: 18px
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.slider-container,
#about,
#projects,
#contact {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.overlay {
  background-color: gray;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 5;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding-bottom: 8px;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: gray;
}

.left-arrow {
  left: 0;
  border-radius: 0 50% 50% 0;
  padding-left: 20px;
}

.right-arrow {
  right: 0;
  border-radius: 50% 0 0 50%;
  padding-right: 20px;
}

.visible {
  opacity: 1;
}

#projects {
  background-color: rgb(26, 70, 62);
}

#about {
  margin-top: 5vh;
  padding-top: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.company, .holly {
  width: 85%;
  max-width: 700px; 
  display: flex;
  justify-content: space-between;
  gap: 10%;
  font-size: large;
  color: rgb(91, 91, 91);
}

.image-card {
  width: 35%;
  height: auto;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-card h3, h2 {
 color: rgb(26, 70, 62);
}

#contact {
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 700px;
  
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: rgb(26, 70, 62);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #45a049;
}